<div class="atualizações mt-4 mb-5">
    <h2>Atualizações</h2>
    <div class="cards_atualizacoes">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Atualização 1.2</h5>
                <p class="card-text">
                    - Treino de drible adicionado
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Atualização 1.1</h5>
                <p class="card-text">
                    - Melhorando o design.
                    <br />
                    - Aprimoramento da experiência.
                </p>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Atualização 1.0</h5>
                <p class="card-text">
                    - Adicionado treinos de academia.
                    <br />
                    - Design inicial.
                </p>
            </div>
        </div>

    </div>
</div>