{% extends "base/base.html" %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static "css/treinos.css" %}">
{% endblock extracss %}
{% block content %} {% load static %}

<h2>Treino de academia 1</h2>
<div class="treinos gap-2 d-flex mb-2">
  {% for treino in treinos %}
  <div class="card border-1 border-light m-1">
    <img src="https://i.ytimg.com/vi/{{treino.link_video_treino}}/hqdefault.jpg" class="card-img-top"
      alt="Capa do treino" />
    <div class="card-body">
      <h5 class="card-title">{{treino.nome}}</h5>
      <p class="card-text m-0"><strong>Duração:</strong> {{treino.duracao}}</p>      
      <p class="card-text "><strong>Envio:</strong> {{treino.data_criacao}}</p>
      <a href="{% url 'treino_exercicio' treino.categoria treino.caminho_treino_url %}" class="btn btn-primary mt-2">Ver
        treino</a>
    </div>
    <div class="p-3">

      <p class="m-0"><strong>Carga:</strong> Moderada</p>
      <p class="m-0"><strong>Descanso:</strong> 40 seg a 1 min e 30 seg</p>
      <p><strong>Nivél:</strong> Intermediário</p>
    </div>
    
  </div>
  {% endfor %}
  
</div >
<table class="tabela_treinamento mb-5">
  <thead>
    <tr>
      <th>Dia da Semana</th>
      <th>Treino</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Segunda-feira</td>
      <td><strong>Superiores</strong></td>
    </tr>
    <tr>
      <td>Terça-feira</td>
      <td><strong>Inferiores + core (Em breve)<strong></td>
    </tr>
    <tr>
      <td>Quarta-feira</td>
      <td>Descanso</td>
    </tr>
    <tr>
      <td>Quinta-feira</td>
      <td><strong>Superiores<strong></td>
    </tr>
    <tr>
      <td>Sexta-feira</td>
      <td><strong>Inferiores + core (Em breve)<strong></td>
    </tr>
    <tr>
      <td>Sábado</td>
      <td>Descanso</td>
    </tr>
    <tr>
      <td>Domingo</td>
      <td>Descanso</td>
    </tr>
  </tbody>
</table>

{% endblock content %}